/***ALL RIGHTS RESERVED BY MONROE GETZ ***/

html,
body,
.App,
#root {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blueviolet;
  color: white;
  font-family: cursive;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  justify-content: space-around;
}
